    /* Base */

    :root {
    --color-body: blanchedalmond;
    --background-body: #333;
    }
  
    * {
    box-sizing: border-box;
    }
  
    html {
    font-size: 62.5%;
    }

    .suite{
    text-align: center;
    text-transform: uppercase;
    }
  
    body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--color-body);
    margin: 0;
    background: var(--background-body);
    }
  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
    font-family: 'Poppins', sans-serif;
    color: blanchedalmond;
    font-weight: 500;
    line-height: 1;
    }
  
    h1,
    .h1 {
    font-size: 3.1rem;
    }
  
    h2,
    .h2 {
    font-size: 2.8rem;
    text-transform: uppercase;
    }
  
    h3,
    .h3 {
    font-size: 2.1rem;
    }
  
    a {
    text-decoration: none;
    }
  
    img {
    max-width: 100%;
    height: auto;
    }
  
    ul {
    padding-left: 2rem;
    }
  
    li {
    margin-bottom: 1rem;
    }
  
    .list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
    }
  
    .category {
    margin: 0;
    font-size: 1rem;
    text-transform: uppercase;
    color: #5b6c78;
    }
  
    .container {
    padding: 1rem 2rem;
    }
  
    .d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
  
    .grid {
    display: flex;
    flex-wrap: wrap;
    }
  
    .grid__item {
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%;
    padding: 1rem;
    }
  
    @media screen and (min-width:750px) {
    .container {
        max-width: 1250px;
        margin: 0 auto;
        padding: 2rem;
    }
  
    .grid__item {
        max-width: 50%;
    }
    }
  
    /* Sections */
  
    section {
    padding: 5.5rem 0;
    }
  
    .section-title {
    margin-top: 0;
    font-size: 3.8rem;
    }
  
    .section-header {
    text-align: center;
    }
  
    @media screen and (min-width:750px) {
    .section-title {
        font-size: 4.8rem;
    }
    }
  
    .header {
    background: #000;
    border-bottom: 1px solid blanchedalmond;
    position: sticky;
    top: 0;
    z-index: 1;
    }

    .header .navbar span{
    color: cornflowerblue;
    }
  
    .header .logo {
    color: var(--color-body);
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    letter-spacing: 2px;
    text-align: justify;
    padding-right: 1.5rem;
    border-right: 1px solid var(--color-body);
    display: grid;
    align-items: center;
    }
  
    .header .logo:after {
    content: "";
    display: inline-block;
    width: 100%;
    }

    .header .imglogo {
        width: 3rem;
        height: 3rem;
        margin-right: 2rem;
    }
  
    .header li {
    display: inline-block;
    align-items: center;
    padding: 0 0.5rem;
    }

    .header .navbar li{
    text-align: center;
    min-width: 7rem;
    font-size: 1.5rem;
    margin-top: 1.2rem;
    padding-right: 0.8rem;
    }
  
    .header a {
    color: var(--color-body);
    }
  
    .header a:hover {
    color: darksalmon;
    transition: all 0.4s;
    }
  
    .header .right {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    border-left: 1px solid var(--color-body);
    }

    .header .right .socials{
    margin-top: 0.7rem;
    }

    .header .right .very_right {
    margin-left: 1.5rem;
    margin-top: 0.4rem;
    }
  
    .socials {
    display: flex;
    }
  
    .socials li {
    margin-bottom: 0;
    }
  
    .socials a {
    padding: 0 2px;
    }
  
    .socials .icon {
    height: 18px;
    }

    .burger {
    background: none;
    border: none;
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: relative;
    margin-left: 1rem;
    }
  
    .burger .bar {
    display: block;
    width: 22px;
    height: 3px;
    background: var(--color-body);
    }
  
    .burger .bar::before,
    .burger .bar::after {
    display: block;
    content: "";
    width: 22px;
    height: 3px;
    background: var(--color-body);
    position: absolute;
    }
  
    .burger .bar::before {
    transform: translateY(-8px);
    }
  
    .burger .bar::after {
    transform: translateY(8px);
    }
  
    @media screen and (max-width:749px) {
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        top: 55px;
        left: 110%;
        width: 0;
        overflow: hidden;
        opacity: 0;
        height: calc(100vh - 55px);
        background: var(--color-body);
        transition: all .4s ease-out;
    }
  
    nav .menu li {
        display: flex;
        justify-content: center;
    }
  
    nav .menu a {
        display: block;
        font-size: 2rem;
        padding: 2rem;
        transition: all .4s;
    }
  
    .show-nav nav {
        opacity: 1;
        width: 100%;
        left: 0;
        z-index: 2;
    }

    .show-nav nav li a{
        color: #000;
    }
  
    .show-nav .burger .bar {
        width: 0;
    }
  
    .burger .bar::before,
    .burger .bar::after {
        transition: all .2s ease-out;
    }
  
    .show-nav .burger .bar::before {
        transform: rotate(-45deg);
    }
  
    .show-nav .burger .bar::after {
        transform: rotate(45deg);
    }
    }
  
    @media screen and (min-width:750px) {
    .navbar {
        display: flex;
    }
  
    .burger {
        display: none;
    }
    }
  
    .hero {
    background: cornflowerblue;
    color: #000;
    padding: 1rem 0 0 0;
    }
  
    .hero .title {
    color: inherit;
    font-size: 4rem;
    margin: 1.6rem 0 0 0;
    font-weight: 700;
    }
  
    .hero__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
  
    .hero__item span {
    text-transform: uppercase;
    }
  
    .hero__item.left {
    animation-duration: 1s;
    animation-name: slideInleft;
    }
  
    .hero__item.right {
    animation-duration: 1s;
    animation-name: slideInRight;
    }
  
    .hero__avatar img {
    width: 100%;
    }
  
    @media screen and (max-width:749px) {
    .hero__item.left {
        order: 2;
    }
  
    .hero__item.right {
        order: 1;
    }
    }
  
    @media screen and (min-width:750px) {
    .hero__item {
        flex: 1 0 50%;
        text-align: left;
    }
  
    .hero__item.left {
        align-items: flex-start;
    }
  
    .hero .title {
        font-size: 5rem;
    }
  
    .hero__avatar img {
        max-width: 400px;
        border-radius: 50%;
    }
    }
  
    .about{
    background: #000;
    }

    .about h3{
    color: var(--color-body);
    }

    .about .section-title {
    margin-top: 2.8rem;
    }

    .about a{
    background: cornflowerblue;
    color: #000;
    width: auto;
    min-width: 160px;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 10px 13px;
    }

    .about a:hover{
    background: crimson;
    transition: all 0.4s;
    }
  
    @media screen and (min-width:750px) {
    .about img {
        padding-right: 3rem;
    }
    }

    .pitch h2{
    text-align: center;
    }

    .pitch .container {
    display: flex;
    justify-content: center;
    padding-top: 0;
    }

    .n7c {
        background: #000;
    }

    .fresque .grid{
    justify-content: center;
    }

    .suli .grid{
    justify-content: center;
    }

    .fresque{
    background: #000;
    }

    .ideation{
    background: #000;
    }

    .suli a{
    color: cornflowerblue;
    }

    .suli a:hover{
    color: crimson;
    transition: all 0.2s;
    }

    .fresque p{
    padding-left: 5rem;
    }

    .suli p{
    margin-top: 5rem;
    padding-left: 5rem;
    }

    .suli span{
    padding-left: 5rem;
    }

    .civic .grid__item .h3{
    text-transform: uppercase;
    }

    .suli .grid__item .h3{
    text-transform: uppercase;
    }

    .ideation p{
    padding-left: 5rem;
    }

    .ideation .para1{
    margin-top: 7.5rem;
    }

    .ideation .para3{
    margin-top: 27rem;
    }

    .king_kong p{
    margin-top: 7rem;
    padding-left: 5rem;
    }

    .entrepreneuriat {
        background: #000;
    }

    .slideshow-container {
        max-width: 800px;
        position: relative;
        margin: auto;
        overflow: hidden; /* Assurez-vous que le débordement est masqué pour éviter tout problème d'affichage */
        transition: transform 1s ease-in-out; /* Ajoutez une transition sur la propriété transform */
    }

    .mySlides {
        display: none;
        transform: translateX(100%);
    }

    .next {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        width: auto;
        padding: 16px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        background-color: black;
        border: none;
    }

    .prev {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        width: auto;
        padding: 16px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        background-color: black;
        border: none;
    }

    .prev:hover,
    .next:hover {
        background-color: #555;
    }

    .jap_video .container{
    display: flex;
    justify-content: center;
    }

    @media screen and (max-width:249px) {
    .civic{
        flex: 1;
        display: flex;
    }
    .civic .fresque{
        order: 1;
    }
    .civic .fresque__text{
        color: crimson;
        order: 2;
    }
    .civic .container .suli__img{
        order: 3;
    }
    .civic .suli__text{
        order: 4;
    }
    }

    .instrument{
    background: #000;
    }

    .group{
    background: #000;
    }
  
    .form {
    max-width: 600px;
    margin: 4rem auto 0 auto;
    }
  
    .form input,
    .form textarea {
    display: block;
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
    }
  
    .form textarea {
    min-height: 200px;
    }
  
    .form .btn {
    border: none;
    background: var(--color-body);
    color: #000;
    width: auto;
    min-width: 160px;
    font-size: 2rem;
    text-transform: uppercase;
    }
  
    .form .btn:hover {
    cursor: pointer;
    background: crimson;
    color: var(--color-body);
    transition: all 0.2s;
    }
  
    /* Footer */
  
    footer {
    background: #000;
    color: var(--color-body);
    text-align: center;
    font-size: 1.4rem;
    border-top: 1px solid blanchedalmond;
    }
  
    footer p {
    margin: 0;
    }
  
    footer .grid {
    align-items: center;
    }
  
    footer .socials {
    justify-content: center;
    text-align: center;
    }
  
    footer .socials li {
    padding: 0 .7rem;
    }
  
    footer .socials a {
    color: var(--color-body);
    border: 1px solid var(--color-body);
    border-radius: 50%;
    padding: 1rem;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    transition: all .4s;
    }
  
    footer .socials a:hover {
    background: darksalmon;
    }
  
    @media screen and (min-width:750px) {
    footer {
        text-align: left;
    }
  
    footer .grid__item {
        max-width: 33.333%;
    }
    }
  
    @keyframes slideInleft {
    from {
        transform: translateX(-110%);
    }
  
    to {
        transform: translateX(0);
    }
    }
  
    @keyframes slideInRight {
    from {
        transform: translateX(110%);
    }
  
    to {
        transform: translateX(0);
    }
    }
  
  
    /* Blog */
  
    .blog h1 {
    text-align: center;
    }
  
    .blog__text {
    margin-bottom: 3rem;
    }
  
    .article__card {
    position: relative;
    margin-bottom: 2rem;
    }
  
    .article__img {
    opacity: 0.9;
    }
  
    .article__card:hover img {
    opacity: 1;
    }
  
    .stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
    }
  
    @media screen and (min-width:750px) {
    .d-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 2rem;
    }
  
    .content-grid {
        display: grid;
        grid-template-columns: 6fr 2fr;
        grid-column-gap: 2rem;
        grid-template-areas:
        "article sidebar"
    }
  
    .article {
        grid-area: article;
    }
  
    .sidebar {
        grid-area: sidebar;
    }
    }

    .eng .grid{
    justify-content: center;
    text-align: center;
    }

    .lang{
    background: #000;
    }

    .lang ul{
    list-style-type: square;
    text-align: center;
    }

    .travels ul{
    list-style-type: square;
    text-align: center;
    }